h1 {
    font-style: italic;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: firebrick;
    text-shadow: 3px 2px 5px black;
} 

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
    width: 80px;
    height: 80px;
    margin: auto;
    border: 3px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}

#but {
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    border: 5px solid navy;
    margin: auto;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkblue;
    color: lavender;
    font-size: 25px;
    cursor:pointer
}

#print {
    font-family: 'Times New Roman', Times, serif;
    color: darkgoldenrod;
    font-size: 20px;
}

#main {
    text-align: center;
}

#rules {
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
    font-size: 20px;
}

